* {
  color: #5e5952;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.75px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  position: relative;
}

header img {
  width: 24px;
  padding: 10px;
}

header h1 {
  display: inline-flex;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

header a {
  border-left: 1px solid #ccc;
  display: inline-flex;
  font-size: 80%;
  line-height: 48px;
  padding: 0 25px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
}

main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main a {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

main a:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

main a.read,
header a[href="#all"] {
  background-color: rgba(0, 0, 0, 0.025);
}

main .unread .read {
  display: none;
}

main h2 {
  line-height: 24px;
  font-weight: 500;
  margin: 0;
  padding: 5px 0;
}

main span {
  display: block;
  color: #999;
  font-size: 90%;
  padding-bottom: 5px;
}

main p {
  line-height: 18px;
  font-size: 95%;
  margin-top: 0;
}

main li p:last-child {
  margin-bottom: 5px;
}
